<%= header %>
<head>
    <%= meta %>
</head>
<body>
    <%= preContent %>
    <%= topNav %>
    <%= content %>
    <%= footer %>
    <%= affixContent %>
    <%= scrollTop %>
    <%= externalLinks %>
</body>

</html>




