<% var prefix=`${publicPath+(language!=="en" ? "/"+language : "")}` %>

<header id="topNav">
    <ul>
        <li><a href="<%= prefix %>/"><%= lang.home %></a></li>
        <li><a href="<%= prefix %>/about-us.html"><%= lang.aboutU %></a></li>
        <li><a href="<%= prefix %>/projects.html"><%= lang.projects %></a></li>
        <li><a href="<%= prefix %>/contact-us.html"><%= lang.contactU %></a></li>
    </ul>
    <ul>
        <li><a href="/">EN</a></li>
        <li><a href="/cn">CN</a></li>
    </ul>
</header>

