<% var prefix=`${publicPath+(language!=="en" ? "/"+language : "")}` %>

<header id="topNav">
    <ul>
        <li><a href="<%= prefix %>/"><%= lang.home %></a></li>
        <li><a href="<%= prefix %>/about-us.html"><%= lang.aboutU %></a></li>
        <li><a href="<%= prefix %>/projects.html"><%= lang.projects %></a></li>
        <li><a href="<%= prefix %>/contact-us.html"><%= lang.contactU %></a></li>
        <li>
            <a href="<%= prefix %>/services/index.html"><%= lang.services %></a>
            <ul>
                <li><a href="<%= prefix %>/services/sub-services-1.html"><%= lang.subSer1 %></a></li>
                <li><a href="<%= prefix %>/services/sub-services-2.html"><%= lang.subSer2 %></a></li>
                <li><a href="<%= prefix %>/services/sub-services-3.html"><%= lang.subSer3 %></a></li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><a href="/">EN</a></li>
        <li><a href="/cn">CN</a></li>
    </ul>
</header>

