<%= cusHeader %>
<head>
    <%= cusMeta %>
</head>
<body>
    <%= contentPrefix %>
    <%= topNav %>
    <%= content %>
    <%= footer %>
    <%= contentSuffix %>
    <%= scrollTop %>
    <%= externalLinks %>
</body>

</html>