<% var config=require('jsDir/projects/config')(language) %>
<% var cardInfo=config.getCardInfo()%>
<% var rightArrowImg=config.rightArrowImg %>
<% var stereotyped=config.stereotyped %>

<section class="project-wrapper">
    <div class="project-list-wrap">
        <h1 class="project-title text-head"><%= lang.title.our %> <span class="project-title-highlight"><%= lang.title.project %></span></h1>
        <aside class="category-filter">
            <ul class="category-filter-ul">
                <li class="category-filter-li active">
                    <i class="icon">
                        <svg class="alimama-icon" aria-hidden="true">
                            <use xlink:href="#icon-All"></use>
                        </svg>
                    </i>
                    <span class="expand-text"><%= lang.category.all %></span>
                </li>
                <li class="category-filter-li">
                    <i class="icon">
                        <svg class="alimama-icon" aria-hidden="true">
                            <use xlink:href="#icon-website"></use>
                        </svg>
                    </i>
                    <span class="expand-text"><%= lang.category.website %></span></li>
                <li class="category-filter-li">
                    <i class="icon">
                        <svg class="alimama-icon" aria-hidden="true">
                            <use xlink:href="#icon-mobile"></use>
                        </svg>
                    </i>
                    <span class="expand-text"><%= lang.category.mobile %></span></li>
                <li class="category-filter-li">
                    <i class="icon">
                        <svg class="alimama-icon" aria-hidden="true">
                            <use xlink:href="#icon-portals"></use>
                        </svg>
                    </i>
                    <span class="expand-text"><%= lang.category.portals %></span></li>
                <li class="category-filter-li">
                    <i class="icon">
                        <svg class="alimama-icon" aria-hidden="true">
                            <use xlink:href="#icon-brand"></use>
                        </svg>
                    </i>
                    <span class="expand-text"><%= lang.category.brand %></span></li>
                <li class="ctrl-width-btn">▶</li>
            </ul>
        </aside>
    </div>

    <div class="project-detail-wrap">
        <section class="project-list">
            <% for (let i = 0; i < cardInfo.length; i++) { %>
                <% var { id, folderName, logo, logoSize, mockup, mockupSize, card, brandText } = cardInfo[i] %>
                <div class="project-item lazy-animate" data-src="<%= card %>" data-id="<%= id %>" >
                    <% if (folderName === 'zzzzzzzzzz') { %>
                        <div class="project-ceil" style="font-size:1.5rem"><%= stereotyped.newClient %></div>
                        <div class="project-mockup" style="margin: 0 2rem;"><%= stereotyped.buildProject %></div>
                        <div class="project-floor project-lazy">
                            <img class="project-lazy" data-src="<%= rightArrowImg %>" alt="create website" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGBgAAAABQABh6FO1AAAAABJRU5ErkJggg==">
                            <span><%= stereotyped.startProject %></span>
                        </div>
                    <% }else { %>
                        <div class="project-ceil project-lazy">
                            <img class="project-lazy" data-src="<%= logo %>" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGBgAAAABQABh6FO1AAAAABJRU5ErkJggg==" style="height:<%= logoSize %>" alt="project logo"/>
                            <div class="brandAndServices">
                                <% for (let j = 0; j < brandText.length; j++) { %>
                                    <div><%= brandText[j] %></div>
                                <% } %>
                            </div>
                        </div>
                        <div class="project-mockup project-lazy">
                            <img class="project-lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGBgAAAABQABh6FO1AAAAABJRU5ErkJggg==" data-src="<%= mockup %>" style="height:<%= mockupSize %>" alt="<%= brandText[1]%> project"/>
                        </div>
                        <div class="project-floor project-lazy">
                            <img class="project-lazy" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGBgAAAABQABh6FO1AAAAABJRU5ErkJggg==" data-src="<%= rightArrowImg %>" alt="more <%=brandText[1]%> project detail">
                            <span><%= stereotyped.viewProject %></span>
                        </div>
                    <% } %>
                </div>
            <% } %>
        </section>
    </div>
</section>

<script>
  window.onload=function () {
    window.projectRender("<%= language %>")
  }
</script>